<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="budny.moneykeeper"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".MoneyKeeperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.ActivityBalance"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ActivityInput"
            android:label="@string/title_input" />
        <activity
            android:name=".ui.activities.ActivityAccounts"
            android:label="@string/title_accounts" />
        <activity
            android:name=".ui.activities.ActivityAccountEdit"
            android:label="@string/title_account_edit" />
        <activity
            android:name=".ui.activities.ActivityCategories"
            android:label="@string/title_categories" />
        <activity
            android:name=".ui.activities.ActivityCategoryEdit"
            android:label="@string/title_category_edit" />
        <activity
            android:name=".ui.activities.ActivityPreferences"
            android:label="@string/title_settings" />
        <activity
            android:name=".ui.activities.ActivityCamera"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
    </application>
</manifest>
